charset "utf-8";
#page-wrapper #header #submit {
	background-color: #000000;
}
#page-wrapper #header #submit {
	width: 150px;
	height: 40px;
	margin-top: 18px;
	margin-left: 18px;
	bottom: 35px;
	padding-top: 0px;
	padding-left: 0px;
}
