html, body{
    min-height:100%;
    width:100%;
    background-image: linear-gradient(to right top, #f8c995, #f9c286, #fabb76, #fbb467, #fbad57);
    background-repeat: no-repeat;
    padding-bottom:20px;
}

body {
    height:100%;
    margin:0;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

#mainApp, #mainApp > div{

}

.main-wrapper{

}.navbar-default {
  background: linear-gradient(to left, #de7f18, #fb673d, #ff4d67, #ff3b98, #ff47cd);

  background:rgba(248, 201, 149, 1);
  border-color: rgba(248, 201, 149, 0.2);
}
.navbar-default .navbar-brand {
  color: #ffffff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-text {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus {
  color: #ffbbbc;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #ffbbbc;
  background-color: #c26f16;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  color: #ffbbbc;
  background-color: #c26f16;
}
.navbar-default .navbar-toggle {
  border-color: #c26f16;
}
.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #c26f16;
}
.navbar-default .navbar-toggle .icon-bar {
  background-color: #ffffff;
}
.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
  border-color: #ffffff;
}
.navbar-default .navbar-link {
  color: #ffffff;
}
.navbar-default .navbar-link:hover {
  color: #ffbbbc;
}

@media (max-width: 767px) {
  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
    color: #ffffff;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
    color: #ffbbbc;
  }
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
    color: #ffbbbc;
    background-color: #c26f16;
  }
}

.buttonLanding {
    background-color:rgba(255,255,255,0);
    color:#333;
    border-color:#333;
}
.buttonLanding:hover {
    background-color:rgba(255,255,255,1);
    color:#333;
    border-color:#333;

}
